* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
}

.fundo {
    height: 100vh;
    width: 100vw;
}

.cliente_menu-cabecalho {
    background-color: #222222;
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: center;
}

.cliente_menu-destino {
    display: flex;
    border: 0;
    height: 100%;
    width: 5%;
    justify-content: center;
}

.cliente_menu-botao {
    background-color: transparent;
    font-size: 90%;
    border: 0;
    color: white;
    width: 100%;
}

.cliente_menu-titulo {
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: 120%;
}

.cliente_imagem-banner {
    background: url("Banner da loja.png");
    background-size: cover;
    background-position: center;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cliente_imagem-banner::before {
    content: '';
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 61%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cliente_texto-titulo {
    color: white;
    font-weight: bold;
    font-size: 220%;
    z-index: 1;
}

.cliente_texto-subtitulo {
    color: white;
    z-index: 1;
}

.cliente_texto-produtos {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.cliente_selecao-produtos {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 80%);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cliente_caixa-produto {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.produto1 {
    background: url("Tênis Esportivo.png");
    background-size: cover;
    height: 55%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produto2 {
    background: url("Relógio.png");
    background-size: cover;
    height: 55%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produto3 {
    background: url("Bolsa.png");
    background-size: cover;
    height: 55%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produto4 {
    background: url("Óculos de Sol.png");
    background-size: cover;
    height: 55%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produto5 {
    background: url("Câmera.png");
    background-size: cover;
    height: 55%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produto6 {
    background: url("Fone de Ouvido.png");
    background-size: cover;
    height: 55%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cliente_texto-nome_produto {
    font-size: 200%;
    font-weight: bold;
    margin-left: 7%;
    margin-top: 5%;
}

.cliente_texto-subtitulo_produto {
    color: gray;
    font-size: 150%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
}

.cliente_preco-produto {
    color: orange;
    font-size: 200%;
    font-weight: bold;
    margin-left: 7%;
    margin-top: 5%;
}
.cliente_produto-botao {
    color: white;
    background-color: black;
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    width: 86%;
    height: 8%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 100%;
}

.cliente_rodape_contato {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    height: 8%;
    width: 100%;
}